<?xml version="1.0"?>
<launch>

	<!-- define default values for launch files arguments (do not change here, but in scenario_robot.launch) -->
	<arg name="pc1" default="localhost"/>
	<arg name="pc2" default="localhost"/>
	<arg name="pc3" default="localhost"/>

	<include file="$(find cob_scenario_example)/launch/scenario.xml" >
		<arg name="pc1" value="$(arg pc1)"/>
		<arg name="pc2" value="$(arg pc2)"/>
		<arg name="pc3" value="$(arg pc3)"/>

		<!-- ################################################################ -->
		<!-- ### TODO: uncomment the following lines if your are not      ### -->
		<!-- ###       using default env config package for map           ### -->
		<!-- ################################################################ -->
		<!-- define location for map: uncomment if you are not using a map from cob_default_env_config -->
		<!--arg name="map" value="$(find cob_scenario_example)/config/envs/$(env ROBOT_ENV)/map.yaml"/-->

	</include>

</launch>
