<?xml version="1.0"?>
<launch>

	<!-- start bringup-->
	<include file="$(find cob_bringup_sim)/launch/robot.launch"/>

	<!-- start manipulation -->
	<include file="$(find cob_manipulator)/ros/launch/kdl_solver.launch"/>  

	<!-- upload default parameters -->
	<include file="$(find cob_default_robot_config)/$(env ROBOT)/upload_param_$(env ROBOT).launch"/>
	<include file="$(find cob_default_env_config)/upload_param.launch"/>
	
	<!-- start navigation -->
	<include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch"/>	

	
</launch>
